html{
    font-size: 62,5%
}

body{
    background-color: rgb(202, 201, 201);
    text-align: justify;
    font-size: 16px;
    padding: 5rem 5rem 5rem 5rem;
}

fieldset{
    border: none;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}

.texto{
    font-style: italic;
}

.Fotos{
    aspect-ratio: 1/1;
    width: 100%;
    padding: 3rem;
    object-fit: cover;
}