html{
    font-size: 62,5%
}

body{
    background-color: rgb(202, 201, 201);
    text-align: justify;
    font-size: 16px;
    padding: 3rem 3rem 3rem 3rem;
}

fieldset{
    border: none;
}

.Fotos{
    display: flex;
    flex-direction: row;
    justify-content:center;
    border: 10rem 10rem 10rem 10rem;

}